@charset "UTF-8";
/* 初始化CSS */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
  margin: 0;
  padding: 0;
}

fieldset, img {
  border: none;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

select, input {
  vertical-align: middle;
}

select, input, textarea {
  font-size: 12px;
  margin: 0;
  outline: none;
  box-shadow: none;
}

table {
  border-collapse: collapse;
}

a, a:hover, a:active, a:visited, a:link, a:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: #333;
}

body {
  background: #f7f7f7;
  color: #333;
  font: 12px/22px "Microsoft Yahei", "微软雅黑", "Simsun", "宋体", "Arial";
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  width: 0;
  overflow: hidden;
  clear: both;
}